@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "gothampro_light";
  src: url(../fonts/GothamPro/gothampro_light.ttf);
}
@font-face {
  font-family: "gothampro_regular";
  src: url(../fonts/GothamPro/gothampro.ttf);
}
@font-face {
  font-family: "gothampro_medium";
  src: url(../fonts/GothamPro/gothampro_medium.ttf);
}
@font-face {
  font-family: "gothampro_bold";
  src: url(../fonts/GothamPro/gothampro_bold.ttf);
}
@font-face {
  font-family: "gothampro_black";
  src: url(../fonts/GothamPro/gothampro_black.ttf);
}
a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.35);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  font-family: "gothampro_medium";
  height: 80px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 767px) {
  .header__container {
    font-size: calc(
      12px + 13.6 * ((100vw - 320px) / 1920)
    );
  }
}
@media screen and (min-width: 767px) {
  .header__container {
    font-size: calc(12px + 8 * (100vw / 1920));
  }
}

.header__container .navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container .navLink {
  color: white;
}

.header__container .logo-wrapper {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}

.header__container .logo-under {
  width: 150px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  z-index: 1;
}

.header__container .languages {
  position: relative;
  width: 35%;
  height: 40px;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  transition: 300ms ease;
  cursor: pointer;
  height: 40px;
  overflow: hidden;
  position: absolute;
}

.header__container .languages .language:nth-child(1) {
  display: flex;
}

.header__container .languages_active .wrapper {
  height: auto !important;
  background: rgba(0, 0, 0, 0.26);
}

.header__container .languages_active .language {
  display: flex;
}

.header__container .language {
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
}

.header__container .language_active {
  order: -1;
}

.language__arrow {
  width: 15px;
  height: 10px;
}

.header__container .number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header__container .number {
  color: white;
}

.header-container__left {
  width: 30%;
}

.header-container__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  position: relative;
}

.burger {
  height: 30px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.burger__line {
  height: 4px;
  width: 100%;
  background-color: white;
  position: absolute;
  transition: 300ms ease;
}

.burger__line:nth-child(1) {
  transform: translateY(-10px);
}

.burger__line:nth-child(3) {
  transform: translateY(10px);
}

.burger_active .burger__line:nth-child(1) {
  transform: rotate(45deg);
}
.burger_active .burger__line:nth-child(2) {
  opacity: 0;
}
.burger_active .burger__line:nth-child(3) {
  transform: rotate(-45deg);
}

.header-mobile__modal_active {
  transition: 300ms ease;
  display: flex !important;
  left: 0% !important;
}

.header__mobile {
  display: none;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header-mobile__modal {
  padding: 20px;
  background-color: #252525;
  width: 70%;
  position: absolute;
  z-index: 3;
  top: 100%;
  left: -100%;
  transition: 300ms ease;
}
@media screen and (max-width: 767px) {
  .header-mobile__modal {
    font-size: calc(
      14px + 6.8 * ((100vw - 320px) / 1920)
    );
  }
}
@media screen and (min-width: 767px) {
  .header-mobile__modal {
    font-size: calc(14px + 4 * (100vw / 1920));
  }
}

.header__mobile_link {
  color: white;
}
@media screen and (max-width: 767px) {
  .header__mobile_link {
    font-size: calc(
      21px + 0 * ((100vw - 320px) / 1920)
    );
  }
}
@media screen and (min-width: 767px) {
  .header__mobile_link {
    font-size: calc(21px + 0 * (100vw / 1920));
  }
}

.header-mobile__navLinks {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header-mobile__navLink {
  color: white;
  border-bottom: #dfdfdf 1px solid;
  padding-bottom: 5px;
}

.header-mobile-modal__number {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.header-mobile-modal-number__text {
  color: rgba(255, 255, 255, 0.6);
}

.header-mobile-modal__number .number {
  display: flex;
  color: white;
  align-items: center;
  gap: 10px;
}

.header-mobile-modal__number .number__img {
  width: 24px;
  height: 24px;
}

.socialMediaLinks {
  margin-top: 8px;
}

.socialMediaLinks__text {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 8px;
}

.socialMediaLinks__pictures {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: #dfdfdf 1px solid;
}

.socialMediaLink {
  width: 24px;
  height: 24px;
}

.header-mobile-modal__languages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.header-mobile-modal__language {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

@media only screen and (max-width: 1024px) {
  .header__container {
    display: none;
  }
  .header__mobile {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */